{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="section-intro padding-y-sm">

    <div class="container">

        <div class="intro-banner-wrap">

            <img src="{% static 'images/banners/1.jpg' %}"
                 class="img-fluid rounded">

        </div>

    </div>

</section>


<section class="section-name padding-y-sm">

    <div class="container">

        <header class="section-heading">

            <h3 class="section-title">
                Popular Products
            </h3>

            <a href="{% url 'store' %}"
               class="btn btn-outline-primary">

                See all

            </a>

        </header>


        <div class="row">

            {% for product in products %}

            <div class="col-md-3">

                <div class="card card-product-grid">

                    <a href="{% url 'product_detail' product.slug %}"
                       class="img-wrap">

                        <img src="{{ product.images.url }}">

                    </a>


                    <figcaption class="info-wrap">

                        <a href="{% url 'product_detail' product.slug %}"
                           class="title">

                            {{ product.product_name }}

                        </a>


                        <div class="price mt-1">

                            ₹{{ product.price }}

                        </div>


                        {% if product.is_available %}

                        <a href="{% url 'add_to_cart' product.id %}"
                           class="btn btn-primary btn-block mt-2">

                            Add to Cart

                        </a>

                        {% else %}

                        <span class="btn btn-secondary btn-block mt-2">

                            Out of Stock

                        </span>

                        {% endif %}


                        <a href="{% url 'cart' %}"
                           class="btn btn-light btn-block">

                            View Cart

                        </a>

                    </figcaption>

                </div>

            </div>

            {% empty %}

            <div class="col-md-12">

                <p class="text-center">

                    No products available.

                </p>

            </div>

            {% endfor %}

        </div>

    </div>

</section>

{% endblock %}